.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.user-inputs {
  max-width: 500px;
}

td, th {
  padding: 6px;
}
input, .fetch-btn {
  margin: 6px;
}
